p.nav
	a(href='/') Home
	|  |  
	- if (locals.user.isAdmin)
		a(href='/admin') Admin Panel
		|  |  
	a(href='/requests/'+ locals.user.username) Requests
	|  |  
	a(href='/downloads/'+ locals.user.username) Downloads 
	|  |  
	a(href='/user/'+ locals.user.username) Edit Profile
	|  |  
	a(href='/logout') Log Out
