form(method='post', action='/user')
	p
		label First Name:
			input(type='text', name='firstName')
	p
		label Last Name:
			input(type='text', name='lastName')
	p
		label Username:
			input(type='text', name='username')
	p
		label Password:
			input(type='password', name='password')
	p
		label Repeat Password:
			input(type='password', name='password2')
	p
		label Email:
			input(type='text', name='email')
	p
		input(type='submit', value='submit')
