!!! 5
html(lang="en")
	head
		title= "node-explorer"
		link(rel='stylesheet', href='/css/style.css')
		link(rel='text/javascript', href='/js/backbone.js')
		link(rel='text/javascript', href='/js/underscore.js')
		body
			include includes/head
			!= body

