h1 New User - Register 
strong Note:
|   Fill out the following accurately.
br
i
	| An administrator will only approve this account based on
	| accurate information being provided.
p
	include includes/userForm
